.about-wrapper{
    padding: 6% 0% 0% 0%;
    &__header{
        &--image{
            width: 80%;
            height: 80%;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            padding: 3rem 0;
            // border: 1px solid red;
        }
    }
    &__story{
        width: 80%;
        margin: 4rem auto;
    }
    &__expertise{
        background-color: black;
        color:white;
        &--header{
            width: 80%;
            margin: 0 auto;
            padding: 4rem 0;
        }
    }
}