.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    height: 100%;
}
.design{
    margin: auto;
    font-size: 6.2rem;
    letter-spacing: 0.5px;
    font-weight: 600;
    line-height: 1.3em;
}

.build{
    font-size: 1.8rem !important;
    font-weight: 300;
}
.position{
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    mix-blend-mode: difference;
    & .size{
        transition: transform .2s ease-out;
        // transition-property: transform;
        animation: infinite-spinning 2s infinite ease-out;
    }
}

// .position [src$=".svg"]{
//     width: 100px;
// }

.first{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5rem;
    // border: 1px solid red;
    .card-div1{
        width: 50%;
        // border: 1px solid yellow;
        & .img-card{
            margin: 0 15% 0 0;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            height: 580px !important;
        }
        & .img-cards{
            margin: 0 15% 0 0;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            height: 400px !important;
            
        }
        & .brand{
            font-size: 1rem;
            font-weight: 300;
            margin: 0 15% 0 0;
        }
        & .card-text{
            // margin: 0 0 0 15%;
            font-size: 2rem;
            font-weight: 600;
        }
    }
    .card-div2{
        width: 50%;
        // border: 1px solid yellow;
        & .img-card{
            margin: 0 0 0 15%;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            // width: 480px;
            height: 580px !important;
        }
        & .img-cards{
            margin: 0 0 0 15%;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            // width: 490px;
            height: 400px !important;
        }
        & .brand{
            font-size: 1rem;
            font-weight: 300;
            margin: 0 0 0 15%;
        }
        & .card-text{
            margin: 0 0 0 15%;
            font-size: 2rem;
            font-weight: 600;
        }
    }
    /* margin-top: 5rem; */
    
}

.animate-slide-up p {
    position: relative;
    top: 100vh;
    opacity: 0;
    animation: slideUp 1s ease-in-out forwards;
    &.text{
        font-size: 4.5rem !important;
        font-weight: 600;
        color: white;
        & .learn{
            color: white !important;
            text-decoration-thickness: -2px !important;
            &:hover{
                background-color: #333333 !important;
                text-decoration: none;
            }
        }
    }
}
.animate-slide-up {
    position: relative;
    top: 100vh;
    opacity: 0;
    animation: slideUp 1s ease-in-out forwards;
    &.text{
        font-size: 4.5rem !important;
        font-weight: 600;
        color: white;
        & .learn{
            color: white !important;
            text-decoration-thickness: -2px !important;
            &:hover{
                background-color: #333333 !important;
                text-decoration: none;
            }
        }
    }
}
@keyframes slideUp {
    0% {
        top: 100vh;
        opacity: 0;
    }
    100% {
        top: 0;
        opacity: 1; /* Fades in as it slides up */
    }
}


.identity{
    padding-left: 20rem;
    font-weight: 300;
    font-size: 1.5rem !important;
    & a{
        color: black !important;
        text-decoration-thickness: -2px !important;
        text-decoration-color: gray;
    }
    & .learn:hover{
        background-color: #333333;
        text-decoration: none;
    }
}

.footer{
    background-color: black;
    color: white;
    margin-top: 3rem;
    padding: 2.2rem 0 0.8rem 0 !important;
    & .header{
        padding-top: 2.1rem;
        width: 85%;
        margin: 0 auto;
        // padding-left: 13px;
        & .header__title{
            font-size: 4.7rem !important;
            font-weight: 600;
        }
        & .text{
            font-size: 1.57rem !important;
            font-weight: 300;
            margin-left: 20rem;
            padding: 2.0rem 0rem 2.8rem 1rem !important;
            & .learn{
                color: white !important;
                &:hover{
                    background-color: #333333 !important;
                    text-decoration: none;
                }
            }
        }
    }
    & p{
        font-size: 0.95rem !important;
    }
    & .footer{
        display: flex;
        width: 85% !important;
        justify-content: space-between;
    }
}

@keyframes infinite-spinning {
    0% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1);
    }
}

@media (max-width:767px){
    .first{
        display: block;
        .card-div1{
            width: 100% !important;
            // border: 1px solid yellow;
            & .img-card{
                margin: 0 0% 0 0% !important;
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                height: 580px !important;
            }
            & .img-cards{
                margin: 0 0% 0 0% !important;
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                height: 400px !important;
            }
            & .brand{
                font-size: 1rem;
                font-weight: 300;
                margin: 0 0% 0 0;
            }
        }
        .card-div2{
            width: 100% !important;
            // border: 1px solid yellow;
            & .img-card{
                margin: 0 0% 0 0% !important;
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                // width: 480px;
                height: 580px !important;
            }
            & .img-cards{
                margin: 0 0% 0 0% !important;
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                // width: 490px;
                height: 400px !important;
            }
            & .brand{
                margin: 0 0% 0 0;
            }
            & .card-text{
                margin: 0 0 0 0%;
            }
        }
        & .card-text{
            font-size: 1.5rem;
        }
    }
    .design{
        font-size: 48px;
    }
    .build{
        font-size: 1.3rem;
    }
    .position{
        display: none;
    }
    .identity{
        padding-left: 1rem;
        font-weight: 200;
        font-size: 1.2rem !important;
    }
    .footer{
        background-color: black;
        color: white;
        margin-top: 3rem;
        padding: 0.5rem 0 1rem 1rem !important;
        & .container-fluid{
            width: 90%;
        }
        & .header{
            & .header__title{
                font-size: 1.8rem !important;
                font-weight: 700;
            }
            & .text{
                font-size: 18px !important;
                font-weight: 300;
                margin-left: 1rem;
                padding: 1.5rem 0 0 0 !important;
                line-height: 1.7em;
            }
        }
        & p{
            font-size: 0.7rem !important;
        }
        & .footer{
            width: 85% !important;
            display: block;
        }
    }
}

@media (min-width: 1400px) {
    .animate-slide-up p {
        &.text{
            font-size: 5rem !important;
            font-weight: 600;
            color: white;
            & .learn{
                color: white !important;
                text-decoration-thickness: -2px !important;
                &:hover{
                    background-color: #333333 !important;
                text-decoration: none;
                }
            }
        }
    }
    .footer{
        & .container-fluid{
            width: 81% !important;
            margin: auto;
        }
    }
}
