.design{
    /* display: flex; */
    justify-content: center;
    align-items: center;
    margin: auto;
    font-size: 6rem;
    font-weight: 600;
    margin-top: 3.5rem;
}

.build{
    font-size: 1.8rem;
    font-weight: 300;
}
.position{
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    mix-blend-mode: difference;
    & .size{
        transition: transform .2s ease-out;
        // transition-property: transform;
        animation: infinite-spinning 2s infinite ease-out;
    }
}

.first{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-top: 5rem; */
    & .card-text{
        font-size: 2rem;
        font-weight: 600;
    }
    & .brand{
        font-size: 1rem;
        font-weight: 300;
    }
}


.identity{
    padding-left: 12rem;
    font-weight: 200;
    font-size: 1.8rem !important;
    & a{
        color: black !important;
        text-decoration-thickness: -2px !important;
        text-decoration-color: gray;
    }
    & .learn:hover{
        background-color: gainsboro;
    }
}

.footer{
    background-color: black;
    color: white;
    margin-top: 3rem;
    padding: 4rem 0 1rem 1rem !important;
    & .header{
        & .header__title{
            font-size: 4.7rem !important;
            font-weight: 700;
        }
        & .text{
            font-size: 1.5rem !important;
            font-weight: 300;
            margin-left: 21rem;
            padding: 3rem 0 5.7rem 0 !important;
        }
    }
}

@keyframes infinite-spinning {
    0% {
      transform: scale(0.9);
    }
    100% {
      transform: scale(1);
    }
  }
